{% extends 'base.html' %}

{% load staticfiles %}

{% block scripts %}
    <script type="application/javascript" src="{% static 'js/jquery-2.1.3.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/ol-debug.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/map.js' %}"></script>
    <script>
        jQuery(document).ready(function() {
            {% if view_key %}
                var data_url = "{% url 'vk_session_data' session.id view_key %}";
            {% else %}
                var data_url = "{% url 'session_data' session.id %}";
            {% endif %}

            {% if session.active %}
                var refresh = true;
            {% else %}
                var refresh = false;
            {% endif %}

            app.init(data_url, refresh);
        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ol.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
    <div id="map_header">
        <h1>Session from {{ session.start_time }}{% if not session.active %} (finished){% endif %}</h1>
        <span id="status"></span>
        <div class="shareInfo">
            {% if not view_key %}
                {% if session.viewkey %}
                    Shared as <a href="{% url 'vk_session' session.id session.viewkey.key %}">
                    {% url 'vk_session' session.id session.viewkey.key %}</a>
                {% else %}
                    <a href="{% url 'share_session' session.id %}">share</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div id="map_wrapper">
        <div id="map"></div>
    </div>
{% endblock %}
