{% extends 'base.html' %}

{% block title %}Tracker - Session List{% endblock %}

{% block content %}
    {% if session_list %}
        <h1>Sessions:</h1>
        <ul class="session-list">
            {% for session in session_list %}
                <li>
                    {% if view_key %}
                        <a href="{% url 'vk_session' view_key session.id %}">{{ session.start_time }}</a>
                    {% else %}
                        <a href="{% url 'user_session' session.id %}">{{ session.start_time }}</a>
                    {% endif %}

                    {% if not session.active %}
                        <span>finished</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No sessions found.</p>
    {% endif %}
{% endblock %}
