{% extends 'base.html' %}

{% block title %}Tracker - Session List{% endblock %}

{% block content %}
    {% if session_list %}
        <h1>Sessions:</h1>

        <table class="session-list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Download</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
            {% for session in session_list %}
                <tr>
                    <td>
                    {% if view_key %}
                        <a href="{% url 'vk_session' view_key session.id %}">{{ session.start_time }}</a>
                    {% else %}
                        <a href="{% url 'user_session' session.id %}">{{ session.start_time }}</a>
                    {% endif %}
                    </td>
                    <td>{% if session.active %}active{% else %}ended {{ session.end_time }}{% endif %}</td>
                    <td><a href="{% url 'session_gpx' session.id %}">.gpx</a></td>
                    <td>
                        {% if not session.is_cleaned %}
                        <a href="{% url 'session_clean' session.id %}">clean</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No sessions found.</p>
    {% endif %}
{% endblock %}
