.center-map {
    top: 0.5em;
    right: 0.5em;
}

main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

h1 {
    display: inline-block;
    font-size: 1.2em;
    margin: 0.2em;
}

.shareInfo {
    display: inline-block;
}
